* {
    font-size: 16px;
}

body {
    background: #eee;
    font-family: sans-serif;
  }
  
  .card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
    padding: 8px;
  }
  
  .title {
    background: #e3f4ff;
    padding: 8px;
  }
  
  .content {
    background: #e3f4ff;
    padding: 8px;
  }
  
  .button-container {
    /* width: 200px; */
    text-align: center;
    background: #e3f4ff;
    margin: 18px auto;
    padding: 8px;
  }
  
  button {
    background: white;
    display: block;
    margin: 5px auto;
    border: 1px solid #eee;
    padding: 8px;
  }